@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Inconsolata;
    background-color: aliceblue;
}

#root {
    margin-right: 30px;
    margin-left: 30px;
}

nav {
    padding: 25px 30px;
}

.intro {
    margin: 180px 120px;
}

h1 {
    line-height: 2;
    text-align: center;
}

.project, .connect {
    margin: 50px 190px;
}

.project img {
    margin: 20px 0px;
}

.connect {
    margin-bottom: 100px;
    text-align: center;
}

.connect button {
    padding: 30px;
}

a:hover {
    text-decoration: underline;
    color: rgb(56 189 248);
}
