@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Inconsolata;
    background-color: white;
    border: 10px solid #5ac8ff;
}

#root {
    margin-right: 30px;
    margin-left: 30px;
}

.intro {
    margin: 120px 120px;
}

.intro-h1 {
    line-height: 1.5;
}

.project, .connect {
    margin: 50px 190px;
}

.project img {
    margin: 20px 0px;
}

.connect {
    margin-bottom: 100px;
    text-align: center;
}

.connect button {
    padding: 30px;
}

a:hover {
    text-decoration: underline;
    color: rgb(56 189 248);
}

@media (max-width: 640px) {
    .intro {
        margin: 30px;
    }
    .project, .connect {
        margin: 30px;
    }    
}
